{% extends "base.html" %}

{% block body %}
<div class="container">
    <h2>Create Your Account</h2>
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.email.label }} {{ form.email }} {{ form.email.errors }}
        </div>
        <div>
            {{ form.name.label }} {{ form.name }} {{ form.name.errors }}
        </div>
        <div>
            {{ form.DOB.label }} {{ form.DOB }} {{ form.DOB.errors }}
        </div>
        <div>
            {{ form.phone_number.label }} {{ form.phone_number }} {{ form.phone_number.errors }}
        </div>
        <div>
            {{ form.password1.label }} {{ form.password1 }} {{ form.password1.errors }}
        </div>
        <div>
            {{ form.password2.label }} {{ form.password2 }} {{ form.password2.errors }}
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'account_login' %}">Sign In</a></p>
</div>
{% endblock body %}

